In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.options.mode.chained_assignment = None

In [2]:
df = pd.read_csv('../data/interim/credit-score.csv')
df.head()

,ID,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Credit_Score,Credit_History_Age_Formated
0,0x1602,CUS_0xd40,January,23.0,Scientist,19114.12,1824.843333,3,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7.0,11.27,4.0,Good,809.98,26.822620,No,49.574949,80.415295,312.494089,Good,265.0
1,0x1603,CUS_0xd40,February,23.0,Scientist,19114.12,1824.843333,3,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",-1,6.0,11.27,4.0,Good,809.98,31.944960,No,49.574949,118.280222,284.629162,Good,266.0
2,0x1604,CUS_0xd40,March,23.0,Scientist,19114.12,1824.843333,3,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7.0,10.27,4.0,Good,809.98,28.609352,No,49.574949,81.699521,331.209863,Good,267.0
3,0x1605,CUS_0xd40,April,23.0,Scientist,19114.12,1824.843333,3,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",5,4.0,6.27,4.0,Good,809.98,31.377862,No,49.574949,199.458074,223.451310,Good,268.0
4,0x1606,CUS_0xd40,May,23.0,Scientist,19114.12,1824.843333,3,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",6,6.0,11.27,4.0,Good,809.98,24.797347,No,49.574949,41.420153,341.489231,Good,269.0

In [3]:
loan_types = []
for index in df.index:
    temp = df.Type_of_Loan[index].replace('and ', '').split(', ')
    for i in temp: #loan in temp array
        if i not in loan_types: #if loan is not in loan_types
            loan_types.append(i) #add it

In [4]:
for loan in loan_types:
    df[loan] = 0 #create the loan column in the df with 0
    for index in df.index:
        temp = df.Type_of_Loan[index].replace('and ', '').split(', ')
        if loan in temp:
            df.loc[index, loan] = 1

In [5]:
df[loan_types].head()

,Auto Loan,Credit-Builder Loan,Personal Loan,Home Equity Loan,Not Specified,Mortgage Loan,Student Loan,Debt Consolidation Loan,Payday Loan
0,1,1,1,1,0,0,0,0,0
1,1,1,1,1,0,0,0,0,0
2,1,1,1,1,0,0,0,0,0
3,1,1,1,1,0,0,0,0,0
4,1,1,1,1,0,0,0,0,0

In [6]:
month = {
    'January': 1,
    'February': 2,
    'March': 3,
    'April': 4,
    'May': 5,
    'June': 6,
    'July': 7,
    'August': 8
}
df.Month.replace(month, inplace=True)
df.Month = df.Month.astype(int)

In [7]:
credit_mix = {
    'Standard': 0,
    'Good': 1,
    'Bad': -1
}
df.Credit_Mix.replace(credit_mix, inplace=True)
df.Credit_Mix = df.Credit_Mix.astype(int)

In [8]:
credit_score = {
    'Standard': 0,
    'Poor': -1,
    'Good': 1
}
df.Credit_Score.replace(credit_score, inplace=True)
df.Credit_Score = df.Credit_Score.astype(int)

In [9]:
df.tail()

,ID,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Credit_Score,Credit_History_Age_Formated,Auto Loan,Credit-Builder Loan,Personal Loan,Home Equity Loan,Not Specified,Mortgage Loan,Student Loan,Debt Consolidation Loan,Payday Loan
99995,0x25fe9,CUS_0x942c,4,25.0,Mechanic,39628.99,3359.415833,4,6.0,7.0,2.0,"Auto Loan, and Student Loan",23,7.0,11.5,3.0,1,502.38,34.663572,No,35.104023,60.971333,479.866228,-1,378.0,1,0,0,0,0,0,1,0,0
99996,0x25fea,CUS_0x942c,5,25.0,Mechanic,39628.99,3359.415833,4,6.0,7.0,2.0,"Auto Loan, and Student Loan",18,7.0,11.5,3.0,1,502.38,40.565631,No,35.104023,54.185950,496.651610,-1,379.0,1,0,0,0,0,0,1,0,0
99997,0x25feb,CUS_0x942c,6,25.0,Mechanic,39628.99,3359.415833,4,6.0,7.0,2.0,"Auto Loan, and Student Loan",27,6.0,11.5,3.0,1,502.38,41.255522,No,35.104023,24.028477,516.809083,-1,380.0,1,0,0,0,0,0,1,0,0
99998,0x25fec,CUS_0x942c,7,25.0,Mechanic,39628.99,3359.415833,4,6.0,7.0,2.0,"Auto Loan, and Student Loan",20,6.4,11.5,3.0,1,502.38,33.638208,No,35.104023,251.672582,319.164979,0,381.0,1,0,0,0,0,0,1,0,0
99999,0x25fed,CUS_0x942c,8,25.0,Mechanic,39628.99,3359.415833,4,6.0,7.0,2.0,"Auto Loan, and Student Loan",18,6.0,11.5,3.0,1,502.38,34.192463,No,35.104023,167.163865,393.673696,-1,382.0,1,0,0,0,0,0,1,0,0

In [10]:
df[df.Customer_ID == 'CUS_0x942c']

,ID,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Credit_Score,Credit_History_Age_Formated,Auto Loan,Credit-Builder Loan,Personal Loan,Home Equity Loan,Not Specified,Mortgage Loan,Student Loan,Debt Consolidation Loan,Payday Loan
99992,0x25fe6,CUS_0x942c,1,24.0,Mechanic,39628.99,3359.415833,4,6.0,7.0,2.0,"Auto Loan, and Student Loan",23,6.4,9.5,3.0,1,502.38,32.991333,No,35.104023,401.196481,189.641080,-1,375.0,1,0,0,0,0,0,1,0,0
99993,0x25fe7,CUS_0x942c,2,25.0,Mechanic,39628.99,3359.415833,4,6.0,7.0,2.0,"Auto Loan, and Student Loan",23,6.4,11.5,3.0,1,502.38,29.135447,No,35.104023,180.733095,400.104466,0,376.0,1,0,0,0,0,0,1,0,0
99994,0x25fe8,CUS_0x942c,3,25.0,Mechanic,39628.99,3359.415833,4,6.0,7.0,2.0,"Auto Loan, and Student Loan",20,6.0,9.5,3.0,1,502.38,39.323569,No,35.104023,140.581403,410.256158,-1,377.0,1,0,0,0,0,0,1,0,0
99995,0x25fe9,CUS_0x942c,4,25.0,Mechanic,39628.99,3359.415833,4,6.0,7.0,2.0,"Auto Loan, and Student Loan",23,7.0,11.5,3.0,1,502.38,34.663572,No,35.104023,60.971333,479.866228,-1,378.0,1,0,0,0,0,0,1,0,0
99996,0x25fea,CUS_0x942c,5,25.0,Mechanic,39628.99,3359.415833,4,6.0,7.0,2.0,"Auto Loan, and Student Loan",18,7.0,11.5,3.0,1,502.38,40.565631,No,35.104023,54.185950,496.651610,-1,379.0,1,0,0,0,0,0,1,0,0
99997,0x25feb,CUS_0x942c,6,25.0,Mechanic,39628.99,3359.415833,4,6.0,7.0,2.0,"Auto Loan, and Student Loan",27,6.0,11.5,3.0,1,502.38,41.255522,No,35.104023,24.028477,516.809083,-1,380.0,1,0,0,0,0,0,1,0,0
99998,0x25fec,CUS_0x942c,7,25.0,Mechanic,39628.99,3359.415833,4,6.0,7.0,2.0,"Auto Loan, and Student Loan",20,6.4,11.5,3.0,1,502.38,33.638208,No,35.104023,251.672582,319.164979,0,381.0,1,0,0,0,0,0,1,0,0
99999,0x25fed,CUS_0x942c,8,25.0,Mechanic,39628.99,3359.415833,4,6.0,7.0,2.0,"Auto Loan, and Student Loan",18,6.0,11.5,3.0,1,502.38,34.192463,No,35.104023,167.163865,393.673696,-1,382.0,1,0,0,0,0,0,1,0,0

In [11]:
df['missed_payment_day'] = 0
for row in df.index:
    if df.loc[row, 'Delay_from_due_date'] > 0:
        df.loc[row, 'missed_payment_day'] = 1

In [12]:
df.to_csv('../data/processed/credit-score.csv', index=False)